<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--
      Update interval to get next performance counter value (in milliseconds)
    -->
    <add key="Interval" value="1000"/>
    <!--
        Process priority. Default=BelowNormal to make it less intrusive
        Normal = 32,
        Idle = 64,
        High = 128,
        RealTime = 256,
        BelowNormal = 16384,
        AboveNormal = 32768
    -->
    <add key="Priority" value="16384"/>
    <add key="Font" value="Consolas"/>
    <add key="FontSize" value="22"/>
    <!--
        Regular, Bold, Italic, Underline, Strikeout
    -->
    <add key="FontStyle" value="Bold"/>
    <!--
      Hex color. For transparency. Set value as "Transparent"
    -->
    <add key="BackgroundColor" value="Transparent"/>
    <!--
      Color of text
    -->
    <add key="ForegroundColor" value="#FFFFFF"/>
  </appSettings>
</configuration>